:root{
    font-family: 'Poppins', sans-serif;
    --celeste: #00bfd8;
    --gris: #c9c9c9;
    --gris-oscuro: #918f8f;

}
html{
	font-size: 62,5%;
    scroll-behavior: smooth;
    user-select: none;
}
body{
	font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.cursiva{
    font-family: 'Shantell Sans', cursive;

}
/* PRESENTACION */
.presentacion { 
    display: flex;
    background: url(Recursos/notebook.jpg) no-repeat center center fixed;
    background-size:  center center fixed;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.cuadrado-opacador{
    display: flex;
    background-color: rgba(0, 0, 0, .6);
    height: 100vh;
    width: 100%;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}
.presentacion__texto{
    display: flex;
    border: 3px solid var(--celeste);
    padding: .3rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}
.presentacion h1{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    color: black;
    background-color: var(--celeste);
    padding: 1rem;
}

@media (max-width: 768px) { 
    .presentacion h1{
        font-size: 25px;
    }
}

/* NAVBAR */
.navbar{
    display: inline;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navbar-nav{
    width: 100%;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
}

.navbar img{
    height: 50px;
    width: 50px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

/* SECCION GRILLA */
.seccion-grilla{
    display: grid;
    width: 70%;
    grid-template-columns: 1fr 3fr;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.seccion-grilla__titulo{
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--gris);
    height: 100%;
    justify-content: center;
}

.seccion-grilla__titulo h3{
    color: var(--celeste);
    font-weight: bold;
}

.seccion-grilla__informacion{
    margin-left: 30px;
}

@media (max-width: 767px) { 
    .seccion-grilla{
        display: flex;
        margin: 20px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
    }
    .seccion-grilla__titulo{
        border-right: none;
        border-bottom: 1px solid var(--gris);
        text-align: center;
        width: 100%;
        margin-bottom: 10px;    
    }
}

/* BLOQUE GRILLA 3 */
.bloque-grilla3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.bloque{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.bloque h6{
    font-weight: bold;
}

.bloque p{
    color: var(--gris-oscuro);
}

.bloque a{
    text-decoration: none;
    color: var(--celeste);
}

.bloque img{
    height: 180px;
    width: 180px;
}

@media (max-width: 768px) { 
    .bloque-grilla3{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
}

/* DATO */
.dato { 
    display: flex;
    background: url(Recursos/musica.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 200px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dato .cuadrado-opacador{
    height: 200px;
}

.dato__texto{
    color: white;
}

@media (max-width: 768px) { 
    .dato{
        background: url(Recursos/musica.jpg) no-repeat center center fixed;
        background-size: cover;
    }
}

/* BLOQUE GRILLA 4 */
.bloque-grilla4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
}

.bloque-caracteristica{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 200px;
}
.bloque-caracteristica svg{
    margin-bottom: 20px;
}

.bloque-caracteristica p{
    font-size: 12px;
    color: white;
    font-weight: bold;
}

.bloque-caracteristica h3{
    color: var(--celeste);
}

.caracteristica-1{
    background-color: #1F2625;
}
.caracteristica-2{
    background-color: #232A29;
}
.caracteristica-3{
    background-color: #272E2D;
}
.caracteristica-4{
    background-color: #2C3231;
}

@media (max-width: 768px) { 
    .bloque-grilla4{
        display: flex;
        flex-direction: column;
    }
}

/* HABILIDADES */

.seccion-habilidades{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    text-align: center;
}

.seccion-habilidades h2{
    color: var(--celeste);
    font-weight: bold;
}

.seccion-habilidades .progress{
    margin-bottom: 40px;
}

.seccion-habilidades .progress .progress-bar{
    background-color: var(--celeste);
}

.grupo-habilidades{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.habilidad{
    display: flex;
    flex-direction: column;
    background-color: #00bfd8;
    color: black;
    padding: 1rem;
    width: 120px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 120px;
}


@media (max-width: 768px) { 
    .habilidad{
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
        margin-right: 30px;
    }
    .habilidad h6{
        font-size: 10px;
    }
    .grupo-habilidades{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}

/* SERVICIOS */
.seccion-servicios{
    display: grid;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr;
}
.sector-izquierdo{
    display: flex;
    flex-direction: column;
    align-content: end;
    gap: 1rem; 
}
.servicio-izq{
    display: grid;
    grid-template-columns: 4fr 1fr;
    text-align: right;
    column-gap: 1rem;
}
.servicio-imagen{
    display: flex;
    background-color: var(--celeste);
    height: 80px;
    width: 80px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.servicio-imagen svg{
    height: 30px;
    width: 30px;

}

.sector-derecho{
    display: flex;
    flex-direction: column;
    align-content: end;
    gap: 1rem; 
}
.servicio-der{
    display: grid;
    grid-template-columns: 1fr 4fr;
    text-align: left;
    column-gap: 1rem;
}

@media (max-width: 768px) { 
    .seccion-servicios{
        display: flex;
        flex-direction: column;
    }
}
/* PROCESOS */
.proceso-creacion { 
    display: flex;
    background: url(Recursos/workspace.webp) no-repeat center center fixed;
    background-size: cover;
    height: 400px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.proceso-creacion__opacador{
    height: 400px;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
}

.proceso-creacion__texto{
    color: white;
}
.proceso-creacion__texto h5{
    margin-top: 10px;
}

.linea-proceso{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    color: white;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}


.etapa{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    justify-items: center;
    height: 120px;
    width: 120px;
}

.etapa img{
    margin-bottom: .3rem;
    height: 100px;
    width: 100px;
}

.etapa p{
    height: 25px;
    width: 25px;
    background-color: grey;
    border-radius: 50%;
}

.etapa h5{
    font-size: 20px;
}

@media (max-width: 768px) {
    .proceso-creacion{
        display: flex;
        height: 400px;
    }
    .proceso-creacion__opacador{
        height: 400px;
    }
    .etapa{
        height: 100px;
        width: 100px;
        margin-bottom: 30px;
    }
    .etapa img{
        height: 50px;
        width: 50px;
    }
}

/* CONTACTO */
.seccion-contacto{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid var(--gris-oscuro);
    padding: 10px;
    border-radius: 15px;
    /* height: 400px; */
    justify-content: center;
}

.seccion-contacto h1{
    text-align: center;
}

.seccion-contacto img{
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}
.seccion-contacto form{
    display: flex;
    flex-direction: column;
}

.seccion-contacto form label{
    margin-bottom: 5px;
}

.seccion-contacto form button{
    width: 200px;
    height: 70px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    background-color: black;
    border: 1px solid var(--gris-oscuro);
    text-align: center;
    font-weight: bold;
    transition: background-color .5s ease;
    color: white;
}

.seccion-contacto form button:hover{
    background-color: var(--celeste);
    color: black;
}

/* PROYECTOS */
.proyectos{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: var(--celeste);
}

.proyecto{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 100px;
    text-align: center;
    text-decoration: none;
}

.proyecto img{
    max-width: 300px;
    max-height: 300px;
}

.texto-proyecto{
    display: flex;
    flex-direction: column;
    color: var(--celeste);
    margin-top: auto;
    margin-bottom: auto;
}

.texto-proyecto_tecnologias{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    color: var(--gris-oscuro);
}
.texto-proyecto_tecnologias p{
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
    border: 1px solid var(--gris-oscuro);
}

@media (max-width: 767px) { 
    .proyecto{
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid var(--gris-oscuro);
    }
    .proyecto img{
        height: 150px;
        width: 150px;
    }
}
/* FOOTER */
footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(43, 43, 43);
    height: 60px;
    color: var(--gris-oscuro);
    font-size: 15px;
    justify-content: space-around;
}

footer p{
    margin-top: auto;
    margin-bottom: auto;
}

footer a{
    margin-top: auto;
    margin-bottom: auto;
}

.footer-redes{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
}

@media (max-width: 768px) { 
    footer{
        height: fit-content;
    }
    .footer-redes{
        display: flex;
        flex-direction: row;
    }
    footer svg{
        scale: .75;
    }
}

/* SECCION EXITO MAIL */
.post-mail{
    height: 94vh;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.post-mail img{
    height: 200px;
    width: 200px;
}

.post-mail a{
    color: var(--celeste);
    font-weight: bold;
    text-decoration: none;
}